{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">La informacion es importante para nosotros </h1>
        <p class="lead">Recibimos todas sus solicitudes y necesidades a nuestra parte de libros </p>
        <p class="lead">Si solicita mas informacion comunicate con:</p>
        <p class="lead">Jorge Suarez, Alvaro Martinez y Segio Mariño</p>
        <hr class="my-2">
         
    </div>
</div>
{% endblock %}
